.light {
    background-color: lightblue;
}

.bg1 {
    background-image: url('res/bg_png.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.bg2 {
    background-image: url('res/bg_jpg.jpg');
}

.local {
    /* Fix the area and allow to scroll */
    width: 110px;
    height: 110px;
    overflow: scroll;

    background-image: url('res/bg_jpg.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
}
