.border1 {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.border2 {
    border-style: dashed;
    border-width: medium;
}

.border3 {
    border-style: double;
    border-width: 2px 10px 4px 15px;
}

.border4 {
    border-style: dotted dashed solid double;
    border-color: red green blue tomato;
}

.border5 {
    border-left: 6px solid red;
    background-color: #eeeeee;
}

.border6 {
    border-bottom: 6px solid red;
    background-color: #eeeeee;
}

.border7 {
    /* border-width: 1px;
    border-style: solid;
    border-color: white; */
    border: 1px solid whith;
    border-radius: 10px;
    background-color: #eeeeee;
}
