p {
    /* margin-top: 100px;
    margin-right: 24px;
    margin-bottom: 80px;
    margin-left: 50px; */
    margin: 100px 24px 80px 50px;
}

.horizontally-center {
    width: 300px;
    margin: auto;
    border: 1px solid darkgreen;
}

.container {
    border: 1px solid red;
    margin-top: 10px;
    margin-left: 50px;
}

.inherit-container {
    margin-left: inherit;
}
