/* Simple selector */
p {
    color: black;
    text-align: center;
}

/* Id selector */
#purple-p {
    color: purple;
}

/* Class selector */
.center {
    text-align: center;
    font-weight: bold;
}

/* Apply a class selector to all <p> with class = "center" */
p.center {
    text-align: center;
    font-weight: bold;
}

p.blueviolet {
    color: blueviolet;
}

/* Universal selector (This change will apply to all HTML elements) */
* {
    font-family: 'Times New Roman';
    color: darkgray;
}

/* Grouping selector */
h2,
div {
    color: darkmagenta;
}
