.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.input-field {
    margin: 20px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.input-item-field {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button-submit {
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    margin: 10px;
    font-size: calc(10px + 1vmin);
    align-self: flex-end;
}

.footer {
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button-save {
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    margin: 5px;
    font-size: calc(10px + 1vmin);
    align-self: flex-end;
}

.button-cancel {
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    margin: 5px;
    font-size: calc(10px + 1vmin);
    align-self: flex-end;
}

.input-area {
    resize: none;
    font-size: calc(10px + 1vmin);
    height: calc(10px + 2vmin);
    background-color: #282c34;
    border: 0;
    color: white;
    width: auto;
    font-weight: bold;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}

table {
    width: 70%;
    margin: 20px
}

th {
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
}

.textAreaField {
    line-height: calc(5px + 2vmin);
    display: block;
    font-size: calc(5px + 2vmin);
    resize: none;
    white-space: pre-line;
    color: white;
    background-color: #282c34;
}

.textAreaField:focus {
    outline: none;
}
