/* [Recommended] Apply to all body tags */
body {
    background-color: #171621;
}

section {
    background-color: #201f2a;
}

/* Apply to h2 tags with primary_heading id */
h2#primary_heading {
    color: #65cb7d;
}

/* [Recommended] Apply to tags with emphasis class */
.emphasis {
    color: #de585a;
}

/* Multiple selector */
#s1,
#s2,
#s3 {
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
    color: #8f8e8c;
}

/* Apply to all tags with s1 id */
#s1 {
    font-style: italic;
}

/* Nested selector E.g. the h2 tags inside id=s1 tags */
#s1 h2 {
    color: #eaeaea;
}
