.commentInput {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #eeeeee44;
    height: auto;
    width: 75vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    margin: auto;
}

.inputTitle {
    margin: 20px;
    width: 20vh;
    align-items: flex-end;
    flex-direction: column;
    display: flex;
}

.inputField {
    margin: 20px;
    font-size: calc(10px + 2vmin);
    align-items: center;
    display: table;
}

.standardText {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.singleLineInputField {
    width: 40vh;
    line-height: calc(10px + 2vmin);
    font-size: calc(5px + 2vmin);
    align-items: flex-start;
}

.singleLineInputField:focus {
    outline:none;
}

.multiLinesInputField {
    width: 40vh;
    line-height: calc(10px + 2vmin);
    display:block;
    padding-bottom: 120px;
    font-size: calc(5px + 2vmin);
}

.multiLinesInputField:focus {
    outline:none;
}

.standardButton {
    width: 10vh;
    height: 5vh;
    background-color: royalblue;
    font-size: calc(6px + 2vmin);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
}

.timeLabel{
    width: auto;
    font-size: 2vmin;
    color: gray;
    float: right;
    text-align: end;
}

.deleteLabel{
    width: auto;
    font-size: 2vmin;
    color: royalblue;
    float: right;
    text-align: end;
}

.commentView {
    flex-direction: column-reverse;
    height: auto;
    width: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 2vh;
}

.commentUser {
    font-style: italic;
    color: royalblue;
    font-size: calc(6px + 2vmin);
}

.commentContent {
    color: black;
    font-size: calc(6px + 2vmin);
}

.hr {
    border-top: 1px solid #dddddd;
    width: 75vh;
    display: flex;
}
