* {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    transition: color 0.5s;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #121212;
    width: 100vw;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: #292929;
    height: 64px;
}
header .logo {
    max-height: 100%;
    width: auto;
    object-fit: cover;
}
header .mobile_menu {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    display: none;
}
nav {
    list-style-type: none;
    max-width: 480px;
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}
nav a {
    color: #8f8f8f;
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}
nav a:hover {
    color: #eac159;
    background: linear-gradient(to right, #eac159, #eac159) 0 100% transparent
        no-repeat;
    background-size: 100% 2px;
}
aside {
    border-radius: 4px;
    float: right;
    padding: 0 8px 8px 8px;
    background: #292929;
    width: 20%;
}
aside a {
    color: #8f8f8f;
    text-decoration: none;
    line-height: 2rem;
}
aside a:hover {
    color: #eac159;
    transition: color 0.3s;
}
main {
    float: left;
    width: 80%;
}
article {
    text-align: justify;
    color: lightgrey;
    padding: 16px;
    border: 1px solid lightgrey;
}
.category {
    color: #eac159;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.8rem;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, transparent, #eac159, transparent) 0 100%
        transparent no-repeat;
    background-size: 100% 2px;
    margin-bottom: 16px;
}
@media only screen and (max-width: 656px) {
    header .mobile_menu {
        display: flex;
    }
    header nav {
        display: none;
    }
    aside {
        width: 100%;
        float: center;
    }
    main {
        width: 100%;
        float: center;
    }
}
