* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
}

h1,
h2,
h3 {
    padding: 4px;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    line-height: 1.6em;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    color: #fff;
    background: #444;
    padding: 8px 16px;
}

.btn:hover {
    background: #f7c08a;
    color: #444;
    cursor: pointer;
}

.btn-light {
    background: #fff;
    color: #444;
    padding: 8px 16px;
}

.btn-light:hover {
    background: #f7c08a;
    color: #444;
    cursor: pointer;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.img-profile {
    width: 200px;
    border-radius: 50%;
}

.img-customer {
    width: 80px;
    border-radius: 50%;
    margin: 8px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
    height: 48px;
    line-height: 48px;
}

nav .container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
}

nav .logo {
    padding: 0 16px;
}

nav .menu {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    padding: 0 16px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li .current {
    background: #444;
    color: #f7c08a;
}

.show-case {
    margin-top: 48px;
    height: calc(100vh - 48px);
    background: url('./res/showcase.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-case .container {
    text-align: center;
    color: #fff;
}

.show-case h1 {
    font-size: 40px;
}

.show-case p {
    margin: 16px 0;
}

.info {
    display: flex;
    text-align: center;
}

.info .info-photo {
    width: 50%;
    object-fit: cover;
}

.info .info-content {
    width: 50%;
    color: #fff;
    padding: 16px;
    display: block;
    margin: auto;
}

.info .info-content .text {
    text-align: justify;
    padding: 16px 0;
}

.features {
    display: flex;
    justify-content: space-between;
}

.box {
    text-align: center;
    padding: 16px;
}

.main-footer {
    padding: 8px 16px;
    background: #444;
    color: #fff;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.about-info .info-left,
.about-info .info-right {
    width: 50%;
    padding: 16px;
}

.about-info .info-left {
    text-align: left;
}

.about-info .info-right {
    text-align: center;
}

.feedback {
    padding: 56px 16px;
    text-align: center;
    background: url(./res/test-bg.jpg) no-repeat center center/cover;
}

.feedback h2 {
    font-size: 40px;
    line-height: 80px;
}

.feedback .list-comments {
    list-style: none;
}

.feedback .item-comment {
    display: flex;
    align-items: center;
    background: #f7c08a99;
    border-radius: 8px;
    margin: 16px 0;
}
