.cardView {
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: auto;
    width: 75vh;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: auto;
    background-color: #dddddd44;
    box-shadow: 1px 1px 2px 2px #dddddd77;
}
