.center {
    text-align: center;
    align-self: center;
    margin: auto;
    width: 50%;
}

.pickerWrapper {
    background-color: #f5f5f9;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin: auto;
    width: 50%;
}

.button {
    border-radius: 5px;
    border: 1px solid #007aff;
    background-color: white;
    width: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #007aff;
}

.button:active {
    outline: none;
    background-color: #007aff;
    color: white;
}

.button:focus {
    outline: none;
}

.loading {
    margin: auto
}
