.card {
    padding: 8px;
    width: 25%;
}

.card .item {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
}

.card img {
    background: #f2f2f2;
    border-radius: 16px;
}

.card h1 {
    margin: 8px 0;
    line-height: 24px;
    font-size: 24px;
}

.card p {
    line-height: 16px;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .card {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .card {
        width: 100%;
    }
}
