body {
    background-color: #27292d;
    color: #e8e8e8;
}
a {
    color: #f8cd55;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e8e8e8;
}
p,
div {
    color: #919191;
}
.card {
    border-top: 1px solid #383b40;
    padding: 16px;
    margin-bottom: 8px;
    background-color: #1f2023;
}
.enhance {
    color: #c7a1cb;
}
