<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="styles.css" />
        <title>Buying socks</title>
    </head>

    <body>
        <div class="nav-bar"></div>

        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="imageBlueSocks" :alt="image_alt" />
                </div>

                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inventory >= 10">In stock</p>
                    <p v-else-if="inventory > 0 && inventory < 10">
                        Almost sold out!
                    </p>
                    <p v-else>Out of stock</p>
                    <li v-for="detail in details">{{ detail }}</li>
                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{ variant.variantColour }}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
