* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    line-height: 1.4em;
}
section {
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 7px 20px 1px rgba(77, 18, 12, 0.2);
    background-color: #fff;
}
.container {
    /* To centre an item horizontally: a fixed max-width + margin: auto */
    /* The reason you should always use max-width rather than a simple width is that it will be horrible in responsive website design */
    max-width: 960px;
    margin: auto;
}
.container .id {
    color: #f0a79d;
    text-align: center;
    margin: auto;
    font-size: 1.8rem;
    line-height: 1.6;
    font-style: italic;
    font-weight: bold;
}
.container h2 {
    text-align: center;
    margin: auto;
    font-size: 1.8rem;
    line-height: 1.6;
}
.container p {
    margin: 24px 0 0;
    padding: 0 14%;
}
