* {
    box-sizing: border-box;
}
body {
    line-height: 1.2em;
}
.box {
    border: 1px solid black;
    background: lightgrey;
    padding: 0 16px;
    margin: auto;
    margin-bottom: 16px;
}
.box p {
    text-align: justify;
}
.inline-block {
    width: 30%;
    display: inline-block;
}
.inline {
    display: inline;
}
.block {
    width: 30%;
    display: block;
}
.none {
    display: none;
}
